.t3-megamenu .navbar-nav > li.open.dropdown > a:before {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #222222;
  content: "";
  position: absolute;
  left: 50%;
  margin-left: -5px;
  bottom: 0;
  width: 0;
}
.t3-megamenu .navbar-nav > li.open.dropdown > a:after {
  display: none;
}
.t3-megamenu .mega-inner {
  padding: 10px 0;
}
.t3-megamenu .mega-inner .mega-inner {
  padding-top: 0;
  padding-bottom: 0;
}
.t3-megamenu .mega-inner .mega-inner .mega-inner {
  padding: 15px 20px;
}
.t3-megamenu .mega-col-nav {
  padding-left: 20px;
  padding-right: 20px;
  border-right: 1px solid #2d2d2d;
}
.t3-megamenu .mega-col-nav .mega-col-nav {
  border-right: 0;
}
.t3-megamenu .mega-col-nav:last-child {
  border-right: 0;
}
.t3-megamenu .row {
  margin-left: auto;
  margin-right: auto;
}
.t3-megamenu .row + .row {
  padding-top: 15px;
  border-top: 1px solid #eeeeee;
}
.t3-megamenu .mega-dropdown-menu {
  padding-top: 0;
  padding-bottom: 0;
}
.t3-megamenu .dropdown-header,
.t3-megamenu .mega-nav .mega-group > .dropdown-header,
.t3-megamenu .dropdown-menu .mega-nav .mega-group > .dropdown-header,
.t3-megamenu .dropdown-menu .active .mega-nav .mega-group > .dropdown-header {
  margin: 0;
  padding: 15px 0;
  background: transparent;
  color: #666666;
  font-size: 12px;
  line-height: normal;
  border-bottom: 1px solid #2d2d2d;
}
.t3-megamenu .dropdown-header:hover,
.t3-megamenu .mega-nav .mega-group > .dropdown-header:hover,
.t3-megamenu .dropdown-menu .mega-nav .mega-group > .dropdown-header:hover,
.t3-megamenu .dropdown-menu .active .mega-nav .mega-group > .dropdown-header:hover,
.t3-megamenu .dropdown-header:active,
.t3-megamenu .mega-nav .mega-group > .dropdown-header:active,
.t3-megamenu .dropdown-menu .mega-nav .mega-group > .dropdown-header:active,
.t3-megamenu .dropdown-menu .active .mega-nav .mega-group > .dropdown-header:active,
.t3-megamenu .dropdown-header:focus,
.t3-megamenu .mega-nav .mega-group > .dropdown-header:focus,
.t3-megamenu .dropdown-menu .mega-nav .mega-group > .dropdown-header:focus,
.t3-megamenu .dropdown-menu .active .mega-nav .mega-group > .dropdown-header:focus {
  background: inherit;
  color: #ffffff;
}
.t3-megamenu .mega-group-ct .row {
  margin-left: -15px;
  margin-right: -15px;
}
.t3-megamenu .mega-nav > li a,
.t3-megamenu .dropdown-menu .mega-nav > li a {
  padding: 15px 0;
  color: #ffffff;
  text-align: center;
  border-bottom: 1px solid #2d2d2d;
  background: none;
}
.t3-megamenu .mega-nav > li a:hover,
.t3-megamenu .dropdown-menu .mega-nav > li a:hover,
.t3-megamenu .mega-nav > li a:focus,
.t3-megamenu .dropdown-menu .mega-nav > li a:focus,
.t3-megamenu .mega-nav > li a:active,
.t3-megamenu .dropdown-menu .mega-nav > li a:active {
  background: none;
  color: #da4e35;
}
.t3-megamenu .mega-nav > li.open > a,
.t3-megamenu .dropdown-menu .mega-nav > li.open > a,
.t3-megamenu .mega-nav > li.active > a,
.t3-megamenu .dropdown-menu .mega-nav > li.active > a {
  color: #da4e35;
}
.t3-megamenu .mega-nav > li:last-child > a,
.t3-megamenu .dropdown-menu .mega-nav > li:last-child > a {
  border-bottom: 0;
}
.t3-megamenu .dropdown-menu .mega-group .mega-nav > li.active > a {
  color: #da4e35;
}
.t3-megamenu .mega-nav .dropdown-submenu > a::after {
  margin-right: 0;
}
.t3-megamenu .t3-module .module-title {
  margin: 0;
  padding: 15px 0;
  background: transparent;
  color: #666666;
  font-size: 12px;
  line-height: normal;
  border-bottom: 1px solid #2d2d2d;
  margin-bottom: 10px;
}
.t3-megamenu .t3-module .module-title:hover,
.t3-megamenu .t3-module .module-title:active,
.t3-megamenu .t3-module .module-title:focus {
  background: inherit;
  color: #ffffff;
}
.t3-megamenu .t3-module ul li,
.t3-megamenu .t3-module .nav li {
  list-style: disc;
  display: list-item;
  float: none;
  margin: 0;
  padding: 0;
  border: 0;
}
.t3-megamenu .t3-module ul li a,
.t3-megamenu .t3-module .nav li a {
  display: inline;
  padding: 0;
  margin: 0;
  border: 0;
  font-size: 100%;
  background: none;
  font: inherit;
  white-space: normal;
}
.t3-megamenu .t3-module ul li a:hover,
.t3-megamenu .t3-module .nav li a:hover,
.t3-megamenu .t3-module ul li a:focus,
.t3-megamenu .t3-module .nav li a:focus,
.t3-megamenu .t3-module ul li a:active,
.t3-megamenu .t3-module .nav li a:active {
  background: none;
  color: inherit;
  font: inherit;
}
.t3-megamenu .mega-caption {
  color: #999999;
  font-size: 14px;
  margin-top: 3px;
  font-weight: normal;
}
.t3-megamenu .nav .input-group-addon [class^="icon-"],
.t3-megamenu .nav .input-group-addon [class*=" icon-"],
.t3-megamenu .nav .input-group-addon .fa {
  margin-right: 0;
}